@charset "utf-8";
/* CSS Document */
/* CSS que cargara el cuerpo de la parte de no registro */
#frontend{
    background: url(../../img/main_top.png) repeat;
    background-color: #9E3495;
    width: auto;
    height: 450px;/*384px;*/
}

#frontend-getin {
    background-color: #531F5B;
    width: auto;
    padding: 0px;
    margin: 0px;
}

.espaciado{
    padding-bottom: 15px;
}

#old-sign {
    color: #FFFFFF;
    margin-left: 50px;
}
